{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Container Principal -->
    <div class="container mx-auto my-12 p-6 bg-white shadow-lg rounded-lg">
        <!-- Título da Página -->
        <h1 class="text-3xl text-center font-bold text-green-600 mb-6">Principais Músculos Superiores</h1>
        
        <!-- Descrição -->
        <p class="text-center text-gray-600 mb-8">
            Conheça os músculos superiores mais importantes e veja dicas para melhorar seus treinos!
        </p>
        
        <!-- Grid dos Músculos -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            
            <!-- Peitoral -->
            <div class="bg-green-100 p-4 rounded-lg shadow-md text-center">
                <img src="{% static 'images/image 9.png' %}" alt="Peitoral" class="w-full h-48 object-cover rounded-t-md">
                <h2 class="text-2xl font-bold text-green-700 mt-4">Peitoral</h2>
                <p class="text-gray-600 mt-2">O peitoral é um dos maiores grupos musculares superiores, essencial para movimentos de empurrar e estabilizar a parte superior do corpo.</p>
                <a href="{% url 'peito' %}" class="mt-4 inline-block text-green-700 hover:underline">Ver Exercícios</a>
            </div>

            <!-- Bíceps -->
            <div class="bg-green-100 p-4 rounded-lg shadow-md text-center">
                <img src="{% static 'images/image 13.png' %}" alt="Bíceps" class="w-full h-48 object-cover rounded-t-md">
                <h2 class="text-2xl font-bold text-green-700 mt-4">Bíceps</h2>
                <p class="text-gray-600 mt-2">Localizado na parte frontal do braço, o bíceps é responsável pelos movimentos de flexão do cotovelo e é um dos mais visíveis nos treinos de braços.</p>
                <a href="{% url 'biceps' %}" class="mt-4 inline-block text-green-700 hover:underline">Ver Exercícios</a>
            </div>

            <!-- Tríceps -->
            <div class="bg-green-100 p-4 rounded-lg shadow-md text-center">
                <img src="{% static 'images/triceps.jpg' %}" alt="Tríceps" class="w-full h-48 object-cover rounded-t-md">
                <h2 class="text-2xl font-bold text-green-700 mt-4">Tríceps</h2>
                <p class="text-gray-600 mt-2">O tríceps ocupa a parte posterior do braço e é essencial para os movimentos de empurrar, além de compor cerca de dois terços da massa muscular do braço.</p>
                <a href="{% url 'triceps' %}" class="mt-4 inline-block text-green-700 hover:underline">Ver Exercícios</a>
            </div>

        </div>

    </div>
            

    </div>

{% endblock %}