{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Página do Músculo: Quadríceps -->
    <div class="container mx-auto mt-8 text-center bg-white p-6 rounded-lg shadow-lg">

        <!-- Descrição e Imagem -->
        <!-- Título -->
        <h1 class="text-3xl font-bold text-green-600 mb-6">Quadríceps</h1>
        <div class="flex flex-col md:flex-row justify-between items-center bg-gray-100 p-6 rounded-lg shadow-md mb-6">
            <div class="md:w-1/2 text-left">
                <h2 class="text-xl font-semibold text-gray-800 mb-4">Função do Quadríceps</h2>
                <p class="text-gray-600 mb-4">
                    O quadríceps é um dos principais músculos das pernas, localizado na parte frontal da coxa. Sua função principal
                    é a extensão do joelho, sendo fundamental para atividades como caminhar, correr, pular, e realizar exercícios de força como o agachamento.
                </p>
            </div>
            <div class="md:w-1/2 text-right">
                <img src="{% static 'images/image 15.2.png' %}" alt="Quadríceps" class="w-full h-auto rounded-lg shadow-md">
            </div>
        </div>

        <!-- Seção de Exercícios do Peito -->
        <div class="container mx-auto mt-8">
            <h2 class="text-2xl font-bold text-green-600 text-center mb-6">Exercícios para Quadríceps</h2>

            <!-- Card de Exercícios -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                <!-- Exercício 1 -->
                <div class="bg-white p-4 rounded-lg shadow-md hover:bg-green-50 transition">
                    <h3 class="text-xl font-bold text-gray-800 mb-4">Agachamento Livre</h3>
                    <p class="text-gray-600 mb-6">
                        O agachamento livre é um exercício completo para os quadríceps, promovendo força e estabilidade nas pernas. É um movimento essencial para o desenvolvimento muscular das coxas.
                    </p>
                    <a href="{% url 'agachamento_livre' %}" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition">
                        Saiba Mais
                    </a>
                </div>

                <!-- Exercício 2 -->
                <div class="bg-white p-4 rounded-lg shadow-md hover:bg-green-50 transition">
                    <h3 class="text-xl font-bold text-gray-800 mb-4">Leg Press</h3>
                    <p class="text-gray-600 mb-6">
                        O leg press é um excelente exercício de isolamento para os quadríceps, permitindo treinar com altas cargas e focar na extensão das pernas.
                    </p>
                    <a href="#" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition">
                        Saiba Mais
                    </a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}